<header class="top-header forgot-pass">
    <app-navbar></app-navbar>
     
     <!-- banner -->
   
     <div class="container top-banner">
        <div *ngIf="isValidReset" class="row">
            <div class="col-md-5 banner-heading">
                <h2>Reset <strong>password! </strong></h2>
                <label>
                    Provide your username and we'll send instructions to the email associated with your account to set a new password.
                </label>
            </div>
        </div>
        <div *ngIf="!isValidReset" class="row">
            <div class="col-md-5 banner-heading">
                <h2>Reset Password <strong>Error! </strong></h2>
                <label>
                    We are unable to verify you.
                </label>
                <!-- <div class="col-md-12">
                    <div class="row">
                        <button class="btn get-early mtb-30">Resend instruction</button>
                    </div>  
                </div> -->
            </div>
        </div>
    </div>
    
     <!-- banner -->
    
    </header>
   
    <!-- category-bar -->
    <div class="container category-bar">
        <div *ngIf="isValidReset" class="row">
            <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                <div class="col-md-4">
                    <div [ngClass]="{'has-error': 
                        resetForm.get('password').invalid && ( 
                        resetForm.get('password').dirty || 
                        resetForm.get('password').touched)}"
                        class="form-group">
                        
                        <div class="white-btn rmshd">
                            <input 
                                formControlName="password" 
                                type="password" 
                                class="form-control"
                                placeholder="Enter password" 
                                autofocus>
                        </div>    
                        
                        <div *ngIf="
                            resetForm.get('password').invalid && ( 
                            resetForm.get('password').dirty || 
                            resetForm.get('password').touched)"
                        >
                            <span *ngIf="resetForm.get('password').errors.required" class="help-block">
                                *Password is required.
                            </span>

                            <span *ngIf="
                                !resetForm.get('password').errors.required && (
                                resetForm.get('password').errors.minlength ||
                                resetForm.get('password').errors.maxlength )" class="help-block">
                                *Password must be 6-20 characters long.
                            </span>
                        </div>
                    </div>   
                </div>

                <div class="col-md-4">
                    <div [ngClass]="{'has-error': 
                        resetForm.get('confirm_password').invalid && ( 
                        resetForm.get('confirm_password').dirty || 
                        resetForm.get('confirm_password').touched)}"
                        class="form-group">
                        <div class="white-btn rmshd">
                            <input 
                                formControlName="confirm_password" 
                                type="password" 
                                class="form-control"
                                placeholder="confirm password">
                        </div>        

                        <div *ngIf="
                            resetForm.get('confirm_password').value !== 
                            resetForm.get('password').value && 
                            resetForm.get('confirm_password').touched" >
                            <span class="help-block">
                                Confirm password must be same.
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <button class="btn sign-up-trainer">Reset</button>
                </div>
            </form>  
        </div>
    </div>
   
    <app-site-footer></app-site-footer>
   