<div class="home-container">
    
    <div class="container">

        <div class="welcome-section p-5">

            <h1 class="text-center">Visitiors Traffic</h1>

            <div class="pages-data" [innerHtml]="data"></div>

            <div *ngIf="loginService.getPlan()=='Free'" class="mt-5 text-center">
                <a href="javascript:void(0)" (click)='buyMoneyPlugin(content)' class="btn btn-lg btn-success btn-radius ml-3">Buy the money plugin ($19.97)</a>
            </div>

        </div>

    </div>

</div>
<ng-template #content let-modal>

    <div class="modal fade show payment-modal" style="display:block;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    Buy the money plugin ($19.97)
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click ')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ng-payment-card (formSaved)="processPayment(cc)"></ng-payment-card>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click ')">Save</button>
      </div> -->
</ng-template>