<div class="home-container">
    <a href="javascript:void(0)" *ngIf="loginService.getPlan()=='Free'" (click)='buyMoneyPlugin(content)'
        class="btn btn-success btn-radius ml-3">Buy the money plugin ($19.97)</a>
    <div class="container">

        <div class="welcome-section p-5">

            <h1 class="text-center">Visitiors Traffic</h1>

            <p class="text-center" [innerHtml]="data"></p>

        </div>

    </div>

</div>
<ng-template #content let-modal>

    <div class="modal fade show" style="display:block;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click ')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ng-payment-card (formSaved)="processPayment(cc)"></ng-payment-card>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click ')">Save</button>
      </div> -->
</ng-template>