<app-user-header></app-user-header>

<div class="container mt-4 pb-5">

  <app-user-nav></app-user-nav>

  <h3 class="page-title mb-4">Payment Settings</h3>

  <div class="row">
    <div class="col-md-5">

      <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
        <div id="bank-transfer">
          <div class="form-group">
            <label for="nameOnCard">Details</label>
            <textarea formControlName="details" rows="3" class="form-control"></textarea>
          </div>
        </div>
        <button type="submit" class="btn btn-success btn-radius mt-3">Save Details</button>
      </form>
    </div>
  </div>

</div>