<div class="row justify-content-center">
    <div class="col-md-6">

        <div class="shadow rounded mt-5">
            <div class="card-body p-5">
              <h3 class="card-title">Reset your password</h3>
              <div class="card-text">
                  <form action novalidate class="my-4">

                      <div class="form-group">
                        <label for="username_email">Username or Email address</label>
                        <input type="text" class="form-control" id="username_email">
                      </div>
                      
                  </form>

              </div>

              <div class="text-center">
                <button class="btn btn-lg btn-primary btn-submit btn-radius">Get New Password</button>
              </div>

              <div class="text-center mt-4">
                  <p class="signup-text mb-0">Remember your password? <a href="javascript:void(0)" routerLink="/auth/login">Login Here</a></p>
              </div>

            </div>
          </div>

    </div>
  </div>
