<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">

        <div class="shadow rounded mt-5">
            <div class="card-body p-5">
              <h3 class="card-title">Reset your password</h3>
              <span style='color:green;'>{{message}}</span>
              <div class="card-text">
                  <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
                      <div class="form-group">
                        <div [ngClass]="{'has-error' : 
                              forgotForm.get('email').invalid && ( 
                              forgotForm.get('email').dirty || 
                              forgotForm.get('email').touched)
                            }"
                            class="form-group">  
                            <div class="white-btn rmshd">
                              <input 
                                type="text" 
                                formControlName="email"
                                class="form-control"
                                placeholder="Enter your username or email address">
                            </div>    
                            
                            <div *ngIf="
                            forgotForm.get('email').invalid && ( 
                              forgotForm.get('email').dirty || 
                              forgotForm.get('email').touched)"
                            >
                            <span *ngIf="forgotForm.get('email').errors.required"
                              class="help-block">
                                Username or Email is required.
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="text-center">
                          <button class="btn btn-lg btn-primary btn-submit btn-radius" [disabled]="!forgotForm.valid">Get New Password</button>
                        </div>
                    </form> 

              </div>

           

              <div class="text-center mt-4">
                  <p class="signup-text mb-0">Remember your password? <a href="javascript:void(0)" routerLink="/auth/login">Login Here</a></p>
              </div>

            </div>
          </div>

    </div>
  </div>
</div>