<app-user-header></app-user-header>

<div class="container mt-4 mb-5">

  <app-user-nav></app-user-nav>

  <h3 class="page-title mb-4">Referrals</h3>

  <div class="row">
    <div class="col-md-6">
        <div class="card bg-light">
          <div class="card-body">
              <img _ngcontent-pya-c6="" alt="Referral" src="/assets/images/referral-icon.svg" width="34" class="mb-2">
            <h5 class="mb-0">No Referrals Found</h5>
          </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card bg-light">
          <div class="card-body">
              <img _ngcontent-pya-c6="" alt="Referral" src="/assets/images/referral-icon.svg" width="34" class="mb-2">
            <h5 class="mb-0">No Passed Referrals Found</h5>
          </div>
        </div>
    </div>
  </div>

</div>