<app-user-header></app-user-header>

<div class="container mt-4 mb-5">

  <app-user-nav></app-user-nav>

  <h3 class="page-title mb-4">Wallet</h3>

  <h5>Referrals</h5>

  <table class="table table-striped">
    <thead>
      <tr>
        <th><input type="checkbox"></th>
        <th>Amount</th>
        <th>From</th>
        <th>Description</th>
        <th>Username</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="checkbox"></td>
        <td><strong>$ 10.00</strong></td>
        <td>Bonus</td>
        <td>Bonus for reaching membership level: Basic	</td>
        <td>mssandhu</td>
      </tr>
    </tbody>
  </table>

  <h5><span class="badge badge-dark p-3 mt-4">Total Credit : $0</span></h5>

</div>