<app-user-header></app-user-header>

<div class="container mt-4 mb-5">

  <app-user-nav></app-user-nav>

  <h3 class="page-title mb-4">Wallet</h3>
  <button *ngIf="dashboardData && !dashboardData.requestAmount.amount && dashboardData.walletAmount.amount>0"
    class="btn btn-lg btn-primary btn-submit btn-radius pull-right" style='float: right;
      margin: -60px 0px 0px 0px;' (click)='requestMoney(content)'>Request money to company admin</button>
  <button *ngIf="dashboardData && dashboardData.requestAmount && dashboardData.requestAmount.amount" class="btn btn-lg btn-primary btn-submit btn-radius pull-right"
    style='float: right;
        margin: -60px 0px 0px 0px;'>Already Requset money to admin
    {{dashboardData.requestAmount.amount | currency}}</button>
  <div class="row dashboard-cards my-4">
    <div class="col-md-4">
      <div class="card text-white bg-orange mb-3 h-100">
        <div class="card-body">
          <h2 class="card-title mb-0" *ngIf="dashboardData && dashboardData.walletAmount && dashboardData.walletAmount.amount">
            {{dashboardData.walletAmount.amount | currency}}
          </h2>
          <h2 class="card-title mb-0" *ngIf="dashboardData && dashboardData.walletAmount && !dashboardData.walletAmount.amount">
            {{'0' | currency}}
          </h2>
          <p class="card-text mb-0">Wallet available Credit</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-white bg-cyan mb-3 h-100">
        <div class="card-body">
          <h2 class="card-title mb-0" *ngIf="dashboardData && dashboardData.walletDeposit && dashboardData.walletDeposit.total">
            {{dashboardData.walletDeposit.total | currency}}
          </h2>
          <h2 class="card-title mb-0" *ngIf="dashboardData && dashboardData.walletDeposit && !dashboardData.walletDeposit.total">
            {{'0' | currency}}
          </h2>
          <p class="card-text mb-0">Available Deposit based on your Earnings</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-white bg-cyan mb-3 h-100">
        <div class="card-body">
          <h2 class="card-title mb-0" *ngIf="dashboardData && dashboardData.activeAmount && dashboardData.activeAmount.total">
            {{dashboardData.activeAmount.total | currency}}
          </h2>
          <h2 class="card-title mb-0" *ngIf="dashboardData && dashboardData.activeAmount && !dashboardData.activeAmount.total">
            {{'0' | currency}}
          </h2>
          <p class="card-text mb-0">Active Commission</p>
        </div>
      </div>
    </div>

  </div>

  <a href="javascript:void(0)" routerLink="/user/wallet-credit" class="btn btn-success btn-radius">Add New Wallet
    Credit</a>

</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Money Request</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addCashForm" (ngSubmit)="onSubmit(mode)">

      <div class="form-group">
        <label for="amount">Wallet Amount($)</label>
        {{dashboardData.walletAmount.amount | currency}}
      </div>
      <div class="form-group">
        <label for="amount">Amount($)</label>
        <input type="text" formControlName="amount" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.amount.errors }" />
        <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
          <div *ngIf="f.amount.errors.required">Amount is required</div>
          <p *ngIf="f.amount.errors.pattern" class="text-danger">Number Only</p>
        </div>
      </div>

      <div class="mt-2">
        <button class="btn btn-md btn-primary btn-submit btn-radius">Send Request</button>
      </div>

    </form>
  </div>
  <!-- <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
      </div> -->
</ng-template>