<div class="container" *ngIf='blogData && blogData.length>0'>

    <div class="blog-container">

        <div class="row justify-content-center">

            <div class="col-md-8">

                <div class="blog-header">
                    <h1>Down Line Club Blog</h1>
                    <h4>News, Updates & Customer Sportlights</h4>
                </div>

                <div class="single-blog-post" *ngFor='let blogdata of blogData'>

                    <!-- <div class="author-name d-flex align-items-center">
                      <div class="author-image">
                        <img src="/assets/images/author_img.png" alt="Dennis R. Watson">
                      </div>
                      <div class="author-info">
                          <a href="javascript:void(0)"><strong>Dennis R. Watson</strong></a>
                          <span>November 18th, 2019</span>
                      </div>
                  </div> -->

                    <div class="post-title">
                        <h2><a href="javascript:void(0)" routerLink="/blog/blog-detail/{{blogdata.blogslug}}">{{blogdata.title}}</a></h2>
                    </div>

                    <div class="post-image my-4">
                        <a href="javascript:void(0)" routerLink="/blog/blog-detail/{{blogdata.blogslug}}"><img src="{{blogdata.image}}" class="w-100" alt="Affiliate Marketing"></a>
                    </div>

                    <div class="post-excerpt">
                        <p>
                            <read-more [text]="blogdata.description" [id]='blogdata.blogslug' [maxLength]="200"></read-more>
                        </p>
                    </div>
                    <!-- 
                    <a href="javascript:void(0)" routerLink="/blog/blog-detail/{{blogdata.id}}"
                        class="btn btn-transparent btn-orange btn-radius">Read More</a> -->

                </div>


            </div>

        </div>

    </div>

</div>

<div class="get-started-section">
    <div class="text-center">
        <h2>Easy Start. More Earning. Better Business.</h2>
        <a href="javascript:void(0)" routerLink="auth/signup" class="btn btn-lg btn-orange">
            <strong>Get Started Now!</strong>
            <div>No Credit Card Required</div>
        </a>
    </div>
</div>