<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-7">

            <div class="login-form shadow rounded mt-5 mb-5">
                <div class="card-body">
                    <div class="card-title text-center mb-4">
                        <h3>Login</h3>
                        <h5>Login now to view your earnings</h5>
                    </div>
                    <div class="card-text">
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                            <div class="form-group">
                                <label for="email_address">Username or Email address</label>
                                <input type="text" class="form-control" formControlName="username" autofocus>
                                <div *ngIf=" loginForm.get('username').invalid && 
            loginForm.get('username').touched">

                                    <span *ngIf="
              loginForm.get('username').errors.required || 
              loginForm.get('username').errors.email	
              " class="help-block text-danger">
                    Email is required
                  </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" formControlName="password">
                                <div *ngIf="
            loginForm.get('password').invalid && 
            loginForm.get('password').touched">
                                    <span *ngIf="
              loginForm.get('password').errors.required" class="help-block text-danger">
                    password is required
                  </span>
                                </div>
                            </div>


                            <div class="text-center">
                                <button class="btn btn-md btn-orange btn-block btn-submit btn-radius">Submit</button>
                            </div>
                        </form>


                    </div>


                    <div class="text-center mt-4">
                        <a href="javascript:void(0)" routerLink="/auth/reset-password">Forgot Password?</a>
                        <p class="signup-text mt-2 mb-0">Don't have an account? <a href="javascript:void(0)" routerLink="/auth/signup">Sign
                Up</a></p>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>