<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <div class="thank-you-page">
                <img width="100" src="/assets/images/sent.svg" alt="Email Sent" class="mb-4">
                <h2 class="mb-2"><strong>Thank you for signing up with Down Line Club</strong></h2>
                <p>A confirmation email has been sent to your email address. To confirm your account, please click on the <strong>"Activate account"</strong> link.</p>
            </div>
        </div>
    </div>
</div>