
	<div class="container top-banner">
		<div class="row">
			<div class="col-md-5 banner-heading">
				 <h2><strong>Thank you for signing up with Down Line Club</strong></h2>
			
			</div>
		</div>
	</div>      


<div class="container category-bar">
	
	  <div class="row">
  
			 <div class="col-md-12 aboutus" style="margin-bottom:50px;">
		<span>
			A confirmation email has been sent to your email address. 
			To confirm your account, please click on the "Activate account" link.
		</span>
	</div>
	  </div>
	</div>
