<section class="cmspage" *ngIf='supportData && supportData.length>0 && createTicket == false'>
    <div class="container">

        <div class="inner-page-title">
            <div class="row">
                <div class="col-md-6">
                    <h1>Tickets <small>({{supportData.length}})</small></h1>
                    <h6>The list of last opened or updated tickets.</h6>
                </div>
                <div class="col-md-6 d-flex align-items-center justify-content-end">
                    <a href="javascript:void(0)" (click)="createTicket = true"
                        class="btn btn-radius btn-md btn-success">Create Ticket</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" *ngFor='let data of supportData'>
                <div class="card ticket-card">
                    <div class="card-body">
                        <div class="ticket-card-title mb-2 d-flex justify-content-between">
                            <div class="title">
                                <h5 class="card-title mb-0">{{data.subject}}</h5>
                                <div class="created-date mb-0">{{data.createdAt | date: 'MMMM d, y'}}</div>
                            </div>
                            <div class="buttons">
                                <a href='javascript:void(0)' (click)='viewSupport(data,content,"view")'><img
                                    src="/assets/images/view-icon.svg" width="20" alt="View"> View Ticket</a>
                                    <a *ngIf="data.status=='0' && isClosed=='0'" class="ml-3" href='javascript:void(0)'
                                (click)='viewSupport(data,content,"reply")'><img src="/assets/images/reply-icon.svg"
                                    width="20" alt="Reply"> Reply</a>
                            </div>
                        </div>
                        
                        <div class="card-text">

                            <!-- <read-more [text]="data.description" [maxLength]="100"></read-more> -->

                            <p>{{data.description | slice:0:100}}...</p>

                            <div class="d-flex align-items-center justify-content-between">
                                <!-- <div class="replies">
                                    <label class="d-block">Support:</label>
                                    <span class="d-block">2 Replies</span>
                                </div> -->
                                <div class="status">
                                    <span class="badge badge-success" *ngIf="data.status=='0' && data.isClosed=='0'">New</span>
                                    <span class="badge badge-orange text-white" *ngIf="data.status=='1'  && data.isClosed=='0'">Active</span>
                                    <span class="badge badge-orange text-white" *ngIf="data.status=='0' && data.isClosed=='1'">Closed</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</section>

<section class="cmspage" *ngIf='(!supportData || supportData.length==0) && createTicket == false'>

    <div class="container">
        <div class="no-ticket-found text-center">
            <img src="/assets/images/no-ticket-found.png" alt="No Tickets Found" width="150">
            <h2>No Tickets Found!</h2>
            <h3>There are not any active tickets in your account.</h3>
            <a href="javascript:void(0)" (click)="createTicket = true" class="btn btn-md btn-radius btn-success">Create
                Ticket</a>
        </div>
    </div>

</section>

<div class="container" *ngIf='createTicket == true'>
    <div class="row justify-content-center">
        <div class="col-md-7">

            <div class="text-center my-4" *ngIf='supportData && supportData.length>0'>
                <a href="javascript:void(0)" (click)="createTicket = false">View All Tickets</a>
            </div>

            <div class="login-form shadow mt-4 rounded mb-5">
                <div class="card-body px-5">
                    <div class="card-title text-center mb-4">
                        <h3>Create a Ticket</h3>
                        <h5>Got a question not answered in our <a routerLink="/blog/faqs">FAQ's</a>? Create a Ticket and get fast support from our support team.</h5>
                    </div>
                    <div class="card-text">
                        <form [formGroup]="supportForm" (ngSubmit)="onSubmit()">

                            <div class="row">

                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label for="first_name">Email</label>
                                        <input type="text" formControlName="email" class="form-control"
                                            [ngClass]="{ ' is-invalid ': submitted && f.email.errors }" />
                                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                            <div *ngIf="f.email.errors.required">Email is required</div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" formControlName="firstName" class="form-control"
                                            [ngClass]="{ ' is-invalid ': submitted && f.firstName.errors }" />
                                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                            <div *ngIf="f.firstName.errors.required">Name is required</div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-12">

                                    <div class="form-group">
                                        <label for="subject">Subject</label>
                                        <input type="text" formControlName="subject" class="form-control"
                                            [ngClass]="{ ' is-invalid ': submitted && f.subject.errors }" />
                                        <div *ngIf="submitted && f.subject.errors" class="invalid-feedback">
                                            <div *ngIf="f.subject.errors.required">Subject is required</div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-12">

                                    <div class="form-group">
                                        <label for="description">Description</label>
                                        <textarea formControlName="description" class="form-control"
                                            [ngClass]="{ 'is-invalid ': submitted && f.description.errors }"></textarea>
                                        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                                            <div *ngIf="f.description.errors.required">Description is required</div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="text-center mt-3">

                                <button *ngIf="sendSupportButton" class="btn btn-md btn-orange btn-radius mr-2">Create
                                    Ticket</button>
                                <a href="javascript:void(0)" (click)="createTicket = false"
                                    class="btn btn-md btn-secondary btn-radius">Cancel</a>

                            </div>

                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{subject}}
            <span>{{createdAt | date: 'MMMM d, y '}}</span>
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click ')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="ticket-content mb-4">{{description}}</div>
        <app-support-reply (save)='save($event)' [supportData]='passData'></app-support-reply>
    </div>
    <!-- <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click ')">Save</button>
      </div> -->
</ng-template>